/* Empty. Add your own CSS if you like */

img.outfit{
	width: 400px;
}

div.content{
	text-align: center;
}

input.photoUrl{
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

form{
	text-align: center;
}